//!message_block_border_color ||= #ecd757
//!message_block_background_color ||= #fcf6d0

@mixin message-block {
  .message-block {
    @include clearfix;
    ul {
      @include no-bullets;
      border-top: 1px solid #ecd757;
      border-bottom: 1px solid #ecd757;
      background-color: #fcf6d0;
      background-position: 1em 50%;
      background-repeat: no-repeat;
      &.error {
        background-image: image_url("message_block/error_m.gif");
      }
      &.info {
        background-image: image_url("message_block/info_m.gif");
      }
      &.notice {
        background-image: image_url("message_block/notice_m.gif");
      }
      &.confirm {
        background-image: image_url("message_block/confirmation_m.gif");
      }
      &.warn {
        background-image: image_url("message_block/warn_m.gif");
      }
      li {
        margin-left: 3em;
      }
    }
  }
}
